<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[SOS Connect] – Email Verification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .body {
      width: 100%;
      height: 100%;
      background-color: #F6F6F6;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo img {
      max-width: 100px;
    }

    .content {
      color: #333;
      line-height: 1.6;
    }

    .content h3 {
      color: #333;
    }

    .content p {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div class="body">
    <div class="container">
      <div class="logo">
        <img src="https://res.cloudinary.com/dhp1xcch9/image/upload/v1733294581/sos_connect_logo_qboslz.png"
          alt="SOS Connect Logo">
      </div>
      <div class="content">
        <p>Xin chào</p>
        <p>Mã OTP của bạn là</p>
        <p>
          <strong>
            <%=otpCode %>
          </strong>
        </p>
        <p>Mã xác nhận hợp lệ trong vòng 1 phút. Vui lòng không chia sẻ với bất kỳ ai.</p>
      </div>
      <p>Trân trọng,</p>
      <p>Đội ngũ SOS Connect.</p>
    </div>
  </div>
</body>

</html>